{% extends "base_wide.html" %}
{% load i18n staticfiles wger_extras %}

{% block title %}{% trans "Comparison" %}{% endblock %}

{% block content %}
    <div>

            <table class="table table-hover table-condensed">

                <tr> 
                    <td>
                        <strong>User:</strong>
                    </td>
                    <td>
                        <strong>{{ user.name }}</strong>
                    </td>
                    <td>
                        <strong>{{ user_main.name }}</strong>
                    </td>
                </tr> 
                <tr>
                    <td>
                        Age:
                    </td>
                    <td>
                        {{ user.data.age }}
                    </td>
                    
                    <td>
                        {{ user_main.data.age }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Height:
                    </td>
                    <td>
                        {{ user.data.height }}
                    </td>

                    <td>
                        {{ user_main.data.height }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Weight:
                    </td>
                    <td>
                        {{ user.data.weight }}
                    </td>

                    <td>
                        {{ user_main.data.weight }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Work Intensity:
                    </td>
                    <td>
                        {{ user.data.work_intensity }}
                    </td>

                    <td>
                        {{ user_main.data.work_intensity }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Work Hours:
                    </td>
                    <td>
                        {{ user.data.work_hours }}
                    </td>

                    <td>
                        {{ user_main.data.work_hours }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Sport Intensity:
                    </td>
                    <td>
                        {{ user.data.sport_intensity }}
                    </td>
                    <td>
                        {{ user_main.data.sport_intensity }}
                    </td>
                </tr>
                <tr>
                    <td>
                       BMI:
                    </td>
                    <td>
                        {{ user.data.bmi}}
                    </td>
                    <td>
                        {{ user_main.data.bmi}}
                    </td>
                </tr>

            </table>
    </div>


{% block sidebar %}
<h4><strong>{% trans "Info" %}</strong></h4>
<p>{% blocktrans %}The comparisons selected from your active schedule
or, if you don't have one, simply by default values.{% endblocktrans %}</p>

<p>{% trans "Tip: You can log your weight entires and set a nutritional plan from the dashboard" %}</p>

<p>{% trans "After adding a workout or a nutritional plan, you can edit them to set a goal." %}</p>

<p>{% trans "This feature aims to connect you to any enthusiast like you. Feedback for improvement for this feature is welcome." %}</p>
{% endblock %}

{% endblock %}
